* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

/*Main style area*/
body {
     margin-top: 30px;
     font-family: 'Work Sans', sans-serif;
     width: 1920px;
}

main {
     width: 1440px;
     margin: 0 auto;
}

/*Header Area strat*/
.nav-area {
     background: ;
     display: flex;
     justify-content: space-between;
     width: 1440px;
     margin: 0 auto;
}

.nav-title {
     text-transform: uppercase;
     font-size: 30px;
     font-weight: 700;
     font-weight: bold;

}

nav ul {
     display: flex;
}

ul li {
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 500;
     font-weight: bold;
     list-style-type: none;
     padding: 0 30px;
}

/*First Section: Banner Area style*/
.first-section-banner-area {
     text-align: center;
     margin: 0 auto;
     margin-top: 250px;
}

.first-section-title {
     margin-top: 25px;
     font-weight: 700;
     font-weight: bold;
     font-size: 64px;
}

.baneer-discreption {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     color: #727272;
     margin-bottom: 35px;
}

.common-btn {
     width: 180px;
     height: 64px;
     background: #FF900E;
     border-radius: 8px;
     border: none;
     font-weight: 600;
     font-size: 20px;
     color: #FFFFFF;
     margin-bottom: 50px;
}

.banner-image {
     width: 1440px;
     height: 700px;
     border-radius: 10px;
     margin-bottom: 100px;
}


/*Second Section: list Area style*/
.second-section-list-area {
     background: #FFFFFF;
     display: flex;

}

.second-section-title {
     color: #727272;
     font-weight: 500;
     font-weight: bold;
     font-size: 45px;

}

.second-section-title .dis-of-our {
     color: #131313;
}

.second-section-title .dis-features {
     color: #FF900E;
}

.list-images {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 24px;
     margin-left: 80px;
}

.list-image img {
     width: 340px;
     height: 340px;
}

.discription-area {
     margin-left: 70px;
     margin-top: 200px;
     padding: 20px;
     text-align: justify;
}


/* Third Section: features Area Style */
.third-section-features-area {
     margin-top: 130px;
     display: flex;
     flex-direction: column;
     position: relative;
}

.features-info-area {
     display: flex;
     margin: 0 auto;
}

.features-discription-area {
     width: 686px;
     height: 982px;
}

.features-discription-area-one {
     margin-bottom: 60px;
}

.third-section-title {
     font-weight: 700;
     font-weight: bold;
     font-size: 45px;
     color: #131313;
     border-left: 10px solid#FF900E;
     padding-left: 15px;
}

.features-discreption {
     font-size: 25px;
     margin: 10px 0px;

}

.third-section-title-2 {
     font-weight: 600;
     font-weight: bold;
     font-size: 30px;
     color: #131313;
}

.features-images {
     margin-left: 55px;
     width: 780px;
     height: 1059px;
     border-radius: 8px;
}

.features-btn-area {
     position: absolute;
     margin-left: 30%;
     margin-top: 750px;
}

.features-btn {
     width: 342px;
     height: 200px;
     border-radius: 8px;
     background-color: #FF900E;
     border: none;
     margin-left: 40%;
}

.button-title {
     font-size: 60px;
     color: #FFFFFF;
}

.button-title span {
     font-weight: 300;
     font-size: 25px;
     color: #FFFFFF;
}

/* Fourth Section: Fact Area Style*/
.fourth-section-fact-area {
     margin-top: 130px;
}

.fact-area-title {
     font-weight: 700;
     font-size: 45px;
     color: #131313;
     margin: 0;
}

.fact-box-area {
     display: flex;
     justify-content: space-around;
}

.fact-box {
     margin-top: 50px;
     width: 242px;
     height: 242px;
     border-radius: 8px;
     border: 2px solid #FF900E;
     text-align: center;
}

.fact-box:hover {
     width: 242px;
     height: 242px;
     border-radius: 8px;
     background-color: #ff8f0ea4;
     text-align: center;
}

.box-title {
     font-weight: 600;
     font-size: 45px;
     color: #424242;
     margin: 0;
}

.box-discription {
     margin: 0
}

.fact-box img {
     width: 45px;
     height: 45px;
     margin-top: 65px;
}

/* Fifth Section: Sponsore Secton area style */
.fifth-section-sponspor-area {
     margin-top: 180px;
}

.fifth-siction-title {
     margin-bottom: 30px;
     text-align: center;
     font-weight: 700;
     font-size: 55px;
     font-weight: bold;
     color: #131313;
}

.fifth-section-discription {
     text-align: center;
     font-weight: 400;
     font-size: 25px;
     color: #727272;
     margin-bottom: 50px;
}

/* sixth Section: Team Area*/
.sixth-section-team-area {
     margin-top: 150px;

}

.sixth-siction-title {
     text-align: center;
     font-weight: 700;
     font-size: 55px;
     font-weight: bold;
     padding: 0;
}

.sixth-section-discription {
     margin-top: 40px;
     text-align: center;
     padding: 0;
     font-size: 25px;
}

.team-box-area {
     margin-top: 80px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
}

.team-box {
     display: flex;
     background: #FFFFFF;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
     width: 630px;
     height: 300px;
     justify-content: center;
     align-items: center;
}

.team-designation {
     font-weight: bold;
     margin-bottom: 10px;
}

.team-box img {
     width: 200px;
     height: 250px;
     border-radius: 8px;
}

.team-box-title-area {
     margin-left: 15px;
}

/*Footer area tysle*/
footer {
     margin-top: 130px;
     margin-bottom: 30px;
     text-align: center;
     width: 1440px;
     width: 1920px;
     height: 100px;
}

.last-siction {
     height: 100px;
     justify-content: center;
     align-items: center;
     display: flex;
}

.footer-discription {
     background: #FFF4E7;
     padding: 30px 200px;
     font-weight: 400;
     font-size: 25px;
     color: #424242;
}







/*Style for Mobile and Small Device*/
@media screen and (max-width: 576px) {

     /* Header Area style*/
     .nav-area {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     ul {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     ul li {
          padding: 10px 0;
     }

     /* First Area style*/

     .first-section-banner-area {
          text-align: center;
          margin: 0 auto;
     }

     .first-section-title {
          margin-top: 25px;
          font-weight: 700;
          font-weight: bold;
          font-size: 30px;
     }

     .baneer-discreption {
          font-style: normal;
          font-weight: 400;
          padding: 0px 300px;
          font-size: 14px;
          color: #727272;
     }

     .banner-image {
          width: 25%;
          height: 25%;
          margin: auto;
     }

     /*Second section style*/
     .second-section-list-area {
          margin-top: 80px;
          display: flex;
          /* flex-direction: column; */
          flex-direction: column-reverse;
          margin: auto;

     }

     .list-images {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 24px;
          margin: auto;
          z-index: 1;
     }

     .list-image img {
          width: 340px;
          height: 340px;
     }

     .discription-area {
          text-align: center;
          margin: auto;
          z-index: 2;
     }


     /*Third section Area style */
     .third-section-features-area {
          margin-top: 100px;
     }
     .features-info-area {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
     }
     .features-discription-area-one {
          margin-bottom: 60px;
          margin: 70px 100px;
          text-align: center;
     }
     .features-images {
          margin-top: 70px;
     }
     .features-images img {
          width: 60%;
          height: 60%;
          margin-left: 55px;
          border-radius: 8px;
     }

     .features-btn-area{
          margin-top: 1700px;
          margin-left: 25%;
     }
     .features-btn {
          width: 342px;
          height: 200px;
          border-radius: 8px;
          background-color: #FF900E;
          border: none;
     }

     /*Fourth Section Area Style*/
     .fourth-section-fact-area {
          margin-top: 10px;

     }  
     .fact-area-title{
          text-align: center;    
     }
     .fact-discription-title{
          padding: 0 500px;
          text-align: center;
     }
     .fact-box-area {
          display: flex;
          flex-direction: column;
          align-items: center;
     }    

/*Fifth section Area Style*/
.fifth-section-sponspor-area {
     margin-top: 180px;
}

.fact-box-area img{
     margin: 30px 0px;
}
.fifth-section-discription{
     padding: 0 300px;
}

/*Sixth Section Area Style*/ 
.sixth-section-team-area {
     margin-top: 10px;

}

.sixth-section-discription {
     padding: 0 350px;

}

.team-box-area {
     margin-top: 100px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 20px;

}

.team-box {
     padding: 300px 0px;
     margin: auto;
     display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
}

.team-box-title-area{
     text-align: center;
     padding: 0 350px;    
}

.footer-discription {
     text-align: center;
     padding: 0 450px;       
}

}
